.clock {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 50px auto;
    border: 8px solid #8BC34A;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* Bạn có thể thêm box-shadow nếu muốn */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  /* Các kim đồng hồ */
  .hand {
    position: absolute;
    width: 50%;
    top: 50%;
    transform-origin: 100%;
    transition: transform 0.05s ease-in;
    border-radius: 2px;
  }
  
  .hour {
    height: 6px;
    background: #333;
  }
  
  .minute {
    height: 4px;
    background: #555;
  }
  
  .second {
    height: 2px;
    background: #FF5722; 
  }
  

  .center {
    width: 12px;
    height: 12px;
    background: #8BC34A; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: 2px solid #fff;
  }
  